/* Global App */

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  .container-fluid { padding:0px;}

  .brand-color {
    color: #FFE082;
  }


/* Sidebar */

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.7);
    padding:0px;
  }

  .navbar-form {
    padding: 0px;
    width: 100%;
    box-shadow: none;
    border-radius: 0px;
    margin-top: 0px;
    margin-left: 0px;
    border-top: 1px solid #FFC107;
    border-bottom: 1px solid #FFC107;
  }

  .navbar-form .form-control {
    width:100%;
    height:100%;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    background-color: rgba(0,0,0,0);
    color: #FFE082;
    font-size: 24px;
  }

  #logo-container h1 {
    margin: 0px;
    padding: 4%;
    color: #FFE082;
    font-weight: 200;
  }

  #logo-container h1:before {
    font-family: FontAwesome;
    content: "\f14e";
    padding-right: .05em;
  }

  #btn-nav-toggle {
    background: transparent;
    border: none;
  }

  i.fa-caret-square-o-down,
  .nav-sidebar {
    -moz-transition: all .50s linear;
    -webkit-transition: all .50s linear;
    transition: all .50s linear;
  }

  .nav>li>a.active {
    background-color: inherit;
    color: #FFC107;
  }

  .nav>li>a:focus,
  .nav>li>a:hover {
    background-color: inherit;
    color: #FFC107;
    outline: none;
  }

  a.location-link {
    color: rgba(255,255,255,1.0);
    font-size: 18px;
    font-weight: 200;
  }

  a.location-link:before {
    font-family: FontAwesome;
    content: "\f0f7";
    padding-right: .5em;
  }

  a#about-link {
    font-size:2em
  }

  .nav.nav-sidebar.nav-sidebar-secondary {
    position:absolute;
    bottom: 0;
  }


/* Map */

  #map-canvas {
    width: 100%;
    padding-left:0px;
  }

/* Modal */
.modal-about > .modal-content {
  background-color: rgba(0,0,0,0.7);
  color: rgba(255,255,255,.85);
  border: none;
  border-radius: 0px;
}

.modal-about > .modal-content a {
  color: rgba(255,255,255,.85);
  text-decoration: underline;
}

td.shortcut-key {
  color: #FFE082;
  font-weight:600;
  padding-right:1em;
}

/* Media Queries */

  @media (max-width: 768px) {
    /* Reposition sidebar to top on mobile */
    .sidebar {
      bottom: initial !important;
      width: 100% !important;
    }

    /* Hide list items by default */
    #nav-container {
      display:none;
    }

  }
  /* Ensures sidsebar is always visible on non-mobile displays*/
  @media (min-width: 769px) {
    #nav-container {
      display: block !important;
    }
  }
